#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.btns
{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.countValue
{
  color: aqua;
}
